@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #202020;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .grid-area-1 {
    grid-area: 1/1;
  }
}
